.child-success {
    display: inline-block;
}
.child-success img {
    width: 57px;
}
.child-success h2 {
    font-size: 2rem;
    margin-bottom: 0;
    position: relative;
    top: 5px;
    left:1rem;
}

.alt {
    display: block;
    width: 100%;
}
.modal-dialog.mod-d{
    max-width: 800px;
    margin: 1.75rem auto;
}