.mr-b {
    margin-bottom: 1rem;
}
/* Checkbox*/
.check-info {
    padding: 10px 10px;
    background: #f7f7f7;
    margin-bottom: 7px;
}
  .span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #f99d51;
  border-color: #f99d51;
}
.chiller_cb input:checked ~ span:before {
  width: 11px;
  height: 2px;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
  color: #515151;
}
.chiller_cb span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
    background: #fff;
}
.chiller_cb span:before {
  transform: rotate(-55deg);
  top: 12px;
  left: 0.37rem;
}
.chiller_cb span:after {
  transform: rotate(35deg);
  bottom: 0.35rem;
  left: 0.2rem;
}
.check-rap-box .check-info .chiller_cb label{
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #515151;
  font-weight: 400;
}
.nxt-btn button {
    background: #ffcb55;
    border: none;
    padding-left: 20px !important;
    padding: 5px 5px;
    border-radius: 22px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
}
.nxt-btn button:focus {
    outline: none;
}
.nxt-btn.text-right button img {
    width: 13px;
    margin-left: 2rem;
}
.nxt-btn {
    margin-top: 22px;
}
/* Check box End*/