<!-- <app-trip-shared [tableHeading]="tableHeading" [heading]="heading"></app-trip-shared> -->
<div class="container-fluid">
        <div class="row" >
    
            <div class="col-sm-12 col-md-12">
                <h2 class="box-heading-tp">{{heading}}</h2>
                <div class="top-heading bg-white">
                    <h2 class="heading-bx anim">{{heading}}</h2>
                    <div class="record-box table-responsive">
                        <table class="table m-0">                               
                            <thead>
                                <tr>
                                    <th *ngFor="let tableHeading of tableHeading">{{tableHeading}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="fareListData && fareListData.length > 0">
                                    <tr *ngFor="let data of fareListData ; let i =  index">
                                        <td>{{i+1}}</td>  
                                        <td *ngIf="data && data.vehicleType">{{data.vehicleType}}</td>
                                        <td *ngIf="data && data.farePerKM">{{data.farePerKM}}</td>
                                        <td *ngIf="data && data.minFare">{{data.minFare}}</td>
                                        <td *ngIf="data && data.minDistance">{{data.minDistance}}</td>
                                        <td *ngIf="data && data.waitingFare">{{data.waitingFare}}</td>
                                        <td>
                                            <button type="button" class="acton-btn" (click)="policyDetail(subAdmin.postId, subAdmin.userTypeId)">
                                                <img src="../../assets/images/view.svg" class="action-view">
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    
    </div>
    