<div class="container-fluid">
    <form [formGroup]="vehicleForm">

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="box-heading-tp">Add Driver</h2>
                <div class="top-heading bg-white">
                    <h2 class="heading-bx">Basic Infromation</h2>
                    <div class="form-section  p-4">
                        <div class="inner-f-section">
                            <div class="form-box">
                                <label>Name</label>
                                <input type="text" formControlName="name">
                            </div>
                                <div class="form-box">
                                    <label>Gender</label>
                                    <select formControlName="gender">
                                        <option value="cng">Male</option>
                                        <option value="petrol">Female</option>
                                        <option value="diesel">Other</option>
                                    </select>
                            </div>
                            <div class="form-box">
                                <label>Address</label>
                                <input type="text" formControlName="address">
                            </div>

                        </div>
                        <div class="inner-f-section">
                           
                            <div class="form-box">
                                <label>Mobile Number</label>
                                <input type="text" formControlName="mobileNo">
                            </div>
                            <div class="form-box">
                                <label>email</label>
                                <input type="text" formControlName="email">
                            </div>
                            <div class="form-box">
                                <label class="invisible m-0">email</label>
                                <div class="file-input-typ d-flex align-items-center">
                                    <input type="text" placeholder="Upload Profile Photo" class="up-load-txt border-0">
                                <div class="iput-w-img position-relative">
                                    <input type="file" class="up-load-file">
                                    <img src="../../../assets/images/upload.svg" class="ul-load position-absolute">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="heading-bx">Vehicle Details </h2>
                    <div class="form-section  p-4">
                        <div class="inner-f-section">
                            <div class="form-box">
                                <label>Name</label>
                                <input type="text" formControlName="name">
                            </div>
                            <div class="form-box">
                                <div class="form-box">
                                    <label>Gender</label>
                                    <select formControlName="gender">
                                        <option value="cng">Male</option>
                                        <option value="petrol">Female</option>
                                        <option value="diesel">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-box">
                                <label>Address</label>
                                <input type="text" formControlName="address">
                            </div>

                        </div>
                        <div class="inner-f-section">
                           
                            <div class="form-box">
                                <label>Mobile Number</label>
                                <input type="text" formControlName="mobileNo">
                            </div>
                            <div class="form-box">
                                <label>email</label>
                                <input type="text" formControlName="email">
                            </div>
                            <div class="form-box">
                                <label class="invisible m-0">email</label>
                                <div class="file-input-typ d-flex align-items-center">
                                    <input type="text" placeholder="Upload Profile Photo" class="up-load-txt border-0">
                                <div class="iput-w-img position-relative">
                                    <input type="file" class="up-load-file">
                                    <img src="../../../assets/images/upload.svg" class="ul-load position-absolute">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btnn-group text-center mb-3">
                        <button type="button" class="sub-btn gp-btn-clr text-white">submit</button>
                        <button type="button" class="sub-btn gp-btn-clr2 text-white">cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="top-heading bg-white">
                    <!-- <h2 class="heading-bx">Vehicle Details </h2>
                    <div class="form-section  p-4">
                        <div class="inner-f-section">
                            <div class="form-box">
                                <label>Name</label>
                                <input type="text" formControlName="name">
                            </div>
                            <div class="form-box">
                                <div class="form-box">
                                    <label>Gender</label>
                                    <select formControlName="gender">
                                        <option value="cng">Male</option>
                                        <option value="petrol">Female</option>
                                        <option value="diesel">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-box">
                                <label>Address</label>
                                <input type="text" formControlName="address">
                            </div>

                        </div>
                        <div class="inner-f-section">
                           
                            <div class="form-box">
                                <label>Mobile Number</label>
                                <input type="text" formControlName="mobileNo">
                            </div>
                            <div class="form-box">
                                <label>email</label>
                                <input type="text" formControlName="email">
                            </div>
                        </div>
                    </div>
                    <div class="btnn-group text-center mb-3">
                        <button type="button" class="sub-btn gp-btn-clr text-white">submit</button>
                        <button type="button" class="sub-btn gp-btn-clr2 text-white">cancel</button>
                    </div> -->
                </div>
            </div>
        </div>
    </form>
</div>