.record-box tbody tr td:nth-child(8) {
    width: 100px;
}
.btn-edit-group {
    display: flex;
}
.norap table td {
    white-space: unset;
}
.edit-btn img, .delet-btn img, .eye-i {
    width: 15px;
    position: unset !important;
    fill: #fff;

}
