<div class="container-fluid">
    <div class="row" >

        <div class="col-sm-12 col-md-12">

                <ng-container *ngIf="loader">
                        <div class="container-loader text-center" >
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                </ng-container>
                <ng-container *ngIf="!loader">
                        <h2 class="box-heading-tp">All Driver List</h2>
                        <div class="top-heading bg-white">
                            <h2 class="heading-bx anim">Driver List</h2>
                            <div class="record-box table-responsive">
                                <table class="table m-0">                               
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th>Joining Date</th>
                                            <th>Trip</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <ng-container *ngIf="!loader">
                                            <ng-container *ngIf="driverData && driverData.length > 0">
                                                <tr *ngFor="let driver of driverData ; let i =  index">
                                                    <td>{{i+1}}</td>  
                                                    <td><img src="http://radixtouch.in/templates/templatemonster/ecab/source/assets/img/user/usrbig5.jpg" class="al-img"></td>
                                                    <td>{{driver.name}}</td>
                                                    <td>{{driver.mobileNo}}</td>
                                                    <td>{{driver.email}}</td>
                                                    <td>{{driver.address}}</td>
                                                    <td>{{driver.joiningDate | date}}</td>
                                                    <td>{{driver.tripCount}}</td>
                                                    <td>
                                                        <span *ngIf="driver.status == 1 " class="stus lab-success">Verified</span>
                                                        <span *ngIf="driver.status == 0" class="stus lab-danger">Not Verified</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-edit-group">
                                                            <button type="button" class="edit-btn" (click)="editDriver('1')" >  <img src="../../../assets/images/edit-im.svg"></button>
                                                            <button type="button" class="delet-btn" (click)="deleteDriver()">  <img src="../../../assets/images/bin.svg"></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                       
                                       
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </ng-container>

            
        </div>
    
    </div>

   
</div>