<div class="container-fluid">
<div class="row" >
        <div class="col-sm-12 col-md-12 col-lg-12 margin-tp">
           
            <div class="top-heading bg-white">
                <h2 class="heading-bx anim">Current Ride Booking</h2>  
            <div class="record-box table-responsive">
                <table class="table m-0">                               
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Total Distance</th>
                            <th>Origin</th>
                            <th>Destination</th>
                            <th>Ride Date</th>
                            <th>Driver Name</th>
                            <th>Driver Mobile</th>
                            <th>Fare</th>
                            <th>Action</th>    
                        </tr>
                    </thead>
                    <tbody>
                            <ng-container *ngIf="currentRideData && currentRideData.length > 0">
                                    <tr *ngFor="let driver of currentRideData ; let i =  index">
                                        <td>{{i+1}}</td>  
                                        <td>{{driver.userName}}</td>
                                        <td>{{driver.userMobile}}</td>
                                        <td>{{driver.totalDistance}}</td>
                                        <td>{{driver.pickup}}</td>
                                        <td>{{driver.dropOff}}</td>
                                        <td>{{driver.rideDate | date}}</td>
                                        <td>{{driver.driverName}}</td>
                                        <td>{{driver.driverMobile}}</td>
                                        <td>{{driver.finalAmount | currency:'INR'}}</td>
                                        <td>
                                                <div class="btn-edit-group">
                                                    <button type="button" class="edit-btn" (click)="openMapModal(driver.pickup,driver.dropOff,driver.userId)" >
                                                        <!-- <img src="../../../assets/images/eye.svg"> -->
                                                        <svg class="action-i" x="0px" y="0px" viewBox="0 0 488.85 488.85" xml:space="preserve">
                                                            <path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2   s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025   c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3   C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7   c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z" data-original="#000000" class="active-path" data-old_color="#000000"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            <!-- <button (click)="openMapModal(driver.pickup,driver.dropOff)">view</button> -->
                                        </td>
                                        
                                            
                                        

                                       
                                       
                                        
                                    </tr>
                                </ng-container>
                       
                    </tbody>
                </table>
                
            </div>
            </div>
        </div>
</div>





<!-- <button (click)="sendMsg()">Send Message</button> -->

<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered map-dialog" role="document">
      <div class="modal-content">
          <template>
            <div class="modal-header border-remo">
            <button type="button" class="close cl-img" data-dismiss="modal" aria-label="Close" (click)="closeMOdal()">
                <!-- <span aria-hidden="true">&times;</span> -->
                <img src="../../../assets/images/close-im.svg">
            </button>
            </div>
        </template>
        
        <agm-map [latitude]="lat" [longitude]="lng" class="map-set-im" allowfullscreen="">
                <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
            <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
          </agm-map>
        <!-- <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDvO4MiWWER38wQegvOy0VKk_WnNfBuf_Q&origin='fourbrick&destination='sjm hospital'" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
      </div>
    </div>
</div>
</div>


<!-- 
https://www.google.com/maps/embed/v1/directions
  ?key=YOUR_API_KEY
  &origin=Oslo+Norway
  &destination=Telemark+Norway
  &avoid=tolls|highways -->