*{margin: 0;padding: 0;list-style: none;text-decoration: none;font-family: var(--f-family) !important}
:root{
	--body-bg-color:#eaeef3;
	--f-family: Poppins, sans-serif;
	--space:235px;
	--tg-space:70px;
	--bar-color:#545454;
	--border-clr:#bdbdbd;
	--hight:60px;
	--heading-sz:24px;
	--h-color:#666666;
	--info-card-bg1: linear-gradient(45deg, #a52dd8, #e29bf1);
	--info-card-bg2: linear-gradient(45deg,#2ed8b6,#59e0c5);
	--info-card-bg3: linear-gradient(45deg, #708090, #7c8ea0);
	--info-card-bg4: linear-gradient(45deg, #f30c41, #eb66dd);
	--card-bg1:#9440b3;
	--card-bg2:#2faf96;
	--card-bg3:#5c6a77;
	--card-bg4:#c11e59;
	--line-clr:#00000033;
	--gp-btn-clr:#ff4081;
	--gp-btn-clr2:#888888;
}


/* For ALL Css*/
	.gp-btn-clr{
		background-color: var(--gp-btn-clr);
	}
	.gp-btn-clr2{
		background-color: var(--gp-btn-clr2);
	}
	.bg1{
		background: var(--info-card-bg1)
	}
	.bg2{
		background: var(--info-card-bg2)
	}
	.bg3{
		background: var(--info-card-bg3)
	}
	.bg4{
		background: var(--info-card-bg4)
	}
	.card-img-bg1{
		background-color: var(--card-bg1);
	}
	.card-img-bg2{
		background-color: var(--card-bg2);
	}
	.card-img-bg3{
		background-color: var(--card-bg3);
	}
	.card-img-bg4{
		background-color: var(--card-bg4);
	}
	.border-rad{
		border-radius: 10px;
	}
	.lab-success {
		background: linear-gradient(45deg,#2ed8b6,#59e0c5) !important;
	}
	.lab-warning {
		background: linear-gradient(45deg,#FFB64D,#ffcb80) !important;
	}
	.lab-danger {
		background: linear-gradient(45deg,#FF5370,#ff869a) !important;
	}
	.shadow-box{
		box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
	}
	
	.top-shadow{
		/* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); */
		box-shadow: 0px 9px 19px -15px grey;
	}
	.mt-7{
		margin-top: 5rem;
	}
	.box-heading-tp {
		font-size: 25px;
		font-weight: 400;
		color: #666;
		margin-bottom: 15px;
	}
	.stus {
		display: block;
		text-align: center;
		padding: 7px 10px;
		width: calc(100% - 10%);
		color: #fff;
	}
	/* .record-box tbody tr td:nth-child(8) {
		width: 126px;
	} */
	.record-box {
		padding: 0px 5px;
	}
	.menu-dropdown > li.active > a {
		border: 1px solid #ffffff;
	}
	.menu-dropdown > li > a {
		border: 1px solid transparent;
	}
	.p-oprion > ul > li {
		cursor: pointer;
	}
/* For All End Css*/

body{
	background-color: var(--body-bg-color);
}
.wrapper-container{
	width: 100%;
	position: relative;
	height: 100vh;
}

/* Left Sidebar Section Css*/
	.top-logo-side{
		height: var(--hight);
		background-color: var(--white);
		text-decoration: none;
		padding: 0px 10px;
	}
	.top-logo-side:hover{
		text-decoration: none;
	}

	.logo-image > svg {
	    width: 32px;
	    height: 32px;
	    object-fit: cover;
	    object-position: center;
	    fill: var(--red);
	    margin-right:5px;
	}

	.logo-title {
	    font-size: 20px;
	    line-height: 43px;
	    font-weight: 500;
	    color: #000;
	}

	.left-sidebar{
		width: var(--space);
    	height: 100%;
    	position: fixed;
    	left: 0;
    	top: 0;
	}
	.left-profile{
	    padding: 20px 10px;
	}
	.p-img-box {
	    width: 72px;
	    height: 72px;
	    overflow: hidden;
	    border-radius: 50%;
	    margin-right: 10px;
	    border: 2px solid #fff;
    	box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.2);
	}
	.p-img-box > img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: center;
	}
	.p-oprion ul {
	    width: 100%;
	    margin: 0;
	}
	.p-oprion ul li {
	    display: block;
	    margin-right: 10px;
	}
	.p-oprion h2 {
	    font-size: 20px;
	    line-height: 24px;
	    font-weight: 400;
	    color: #444444;
	}
	.p-oprion ul li img {
	    width: 16px;
	}

	.sid-icon {
	    display: inline-block;
	    width: 14px;
	    height: 14px;
	    margin-right: 10px; 
	}
	.title {
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 400;
	    color: #17191c;
	    display: inline-block;
	}
	.left-menu > li > a {
	    padding: 17px 15px;
	    display: block;
	    transition: 0.5s
	}
	.left-menu > li > a:hover {
		text-decoration: none;
	}
	.left-menu li.active > a{
		background: #f1f1f1;
		white-space: nowrap;

	}
	.left-menu li.active .menu-dropdown{
		display: block !important;
	}
	.menu-dropdown {
	    background: #e3e6e8;
	    display: none;
	}
	.menu-dropdown > li > a {
	    display: block;
	    padding: 8px 15px 8px 44px;
	    font-size: 14px;
	    line-height: 24px;
   		font-weight: 300;
   		color: #444444;
   		font-family: var(--f-family);
	}
	.menu-dropdown > li > a:hover {
		text-decoration: none;
	}
	.wrapper-container.collapse > .left-sidebar {
   	 	width: var(--tg-space);
   	     transition: 0.5s;
	}
	.wrapper-container.collapse > .left-sidebar > app-side-bar .top-logo-side > .logo-title{
		display: none !important;
	}
	.wrapper-container.collapse > .left-sidebar > app-side-bar > .left-profile{
		display: none !important;
	}
	.wrapper-container.collapse > .top-bar{
		width: calc(100% - var(--tg-space));
		margin-left: var(--tg-space);
		transition: 0.5s;
	}
	.wrapper-container.collapse > .left-sidebar > app-side-bar .left-menu li a{
		text-align: center;
		transition: 0.5s;
	}
	.wrapper-container.collapse > .left-sidebar > app-side-bar .left-menu li a > .sid-icon{
		margin: 0px;
	}
	.wrapper-container.collapse > .left-sidebar > app-side-bar .left-menu li a > .title{
		display: none;
		transition: 0.5s;
	}
	.wrapper-container.collapse > .top-bar >   .inner-topbar {
		padding: 5px 0px;
		position: fixed;
		width: calc(100% - var(--tg-space));
		/* margin-left: var(--tg-space);
		left: 0; */
		transition: 0.5s;
	}
	.pd-3 {
		padding: 1.8rem;
		margin-bottom: 1rem;
	}
	.al-img {
		width: 40px;
		height: 40px;
		border: 2px solid #fff;
		box-shadow: 0 10px 18px 0 rgba(62,57,107,.2);
		border-radius: 7px;
		object-fit: cover;
		object-position: center;
	}
/* Left Sidebar Section Css End*/

/* Topbar Section Css */
	.top-bar{
		width: calc(100% - var(--space));
		margin-left: var(--space);
		transition: 0.5s;
	}
	.inner-topbar {
		padding: 5px 0px;
		position: fixed;
		width: calc(100% - var(--space));
		/* margin-left: var(--space);
		left: 0; */
		transition: 0.5s;
		z-index: 2;
	}
	.right-side-potion > li img {
		width: 20px;
		height: 20px;
	}
	.top-right-profile {
		border: 1px solid var(--line-clr);
		overflow: hidden;
		width: 30px;
		height: 30px;
	}
	.top-right-profile > img {
		width: 100% !important;
		height: 100% !important;
		object-fit: cover;
		object-position: center;
	}
	.right-side-potion > li {
		display: block;
		margin-right: 15px;
	}
	.toggle{
		height: 100%;
		padding: 15px 17px;
		border-top-left-radius: 20px;
		cursor: pointer;
	}
	.toggle > div{
		width: 20px;
	    height: 3px;
	    background-color: var(--bar-color);
	    margin: 3px 0;
	    border-radius: 5px;
	}
	.search-bar{
	    background: var(--white);
	    border: 1px solid var(--border-clr);
	    padding:6px;
	    border-radius: 20px; 
	}
	.search-bar > svg {
	    width: 14px;
	    position: relative;
    	right: 10px;
	}
	.search-bar > input {
	    border: 0px;padding: 0px 4px;
	}
	.search-bar > input:focus {
	    outline:  0px;
	}
	.inner-topbar {
	    height: var(--hight);
	}
/* Topbar Section Css End*/

.form-box .ng-dropdown-panel {
    position: unset !important;
}
/* Main Container Css*/
.main-container {
    position: relative;
    height: calc(100% - 80px);
}
	.main-heading{
		font-size: var(--heading-sz);
		font-weight: 400;
		color: var(--h-color);
	}
	.info-card-box {
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr 1fr;
	    grid-gap: 1rem;
		margin: 16px 0;
		width: 100%;
	}
	.inner-img-section svg {
		width: 50px;
		height: 50px;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: center;
		object-position: center;
		fill: var(--white);
		border-radius: 50%;
		padding: 15px;
	}
	.info-title, .percent-sect{
		display: block;
	    font-size: 13px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    font-weight: 400;
	}
	.count {
	    font-weight: 300;
	    font-size: 1rem
	}
	.inner-content-section {
		margin-left: 10px;
	}
	.info-card-box-in {
		display: flex;
	}
/* Main Container Css End*/


.edit-btn {
    border-radius: 50%;
    padding: 0px;
    background-color: #888 !important;
    height: 30px;
    width: 30px;
    margin: 2px;
    color: #fff;
    box-shadow:0px 7px 7px -4px gray!important;
}
.delet-btn{
    border-radius: 50%;
    padding: 0px;
    background-color: #f75353 !important;
    height: 30px;
    width: 30px;
    margin: 2px;
    color: #fff;
    box-shadow: 0px 7px 7px -4px gray!important;
}

.edit-btn img, .delet-btn img{
	width: 15px;
	position: relative;
    top: -2px;
}

.edit-btn {
    border: 0;
    background: transparent;
}
.edit-btn:active{
    transform: translateY(1px);
    box-shadow: 0 5px 3px -4px #ad68f5;
}
.delet-btn {
    border: 0;
    background: transparent;
}
.delet-btn:active{
    transform: translateY(1px);
    box-shadow: 0 5px 3px -4px #d60f0f;
}
.btn-edit-group button:focus {
    outline: 0;
}

button.acton-btn:focus {
    outline: 0;
}

button.acton-btn {
    border: 0;
    background: transparent;
}
/* All sect- section */

.form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 1rem;
}
.anim{
    transition: 0.5s;
}
.box-heading-tp{
    font-size: 25px;
    font-weight: 400;
    color: #666;
    margin-bottom: 15px;
}
.top-heading:hover {
    box-shadow: 0 0 25px -5px #9e9c9e;
    transition: 0.5s;
}
.file-input-typ {
    margin-top: 4px;
}
.bd-b {
    border-bottom: 1px solid var(--border-clr);
}
.form-box {
	margin-bottom: 1rem;
	width: 100%;
}
.form-box > label {
    color: #AAAAAA !important;
    font-size: 13px !important;
    display: block;
}
.form-box > input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--line-clr);
    background-color: transparent;
}
.form-box > input:focus {
    outline: 0;
}
.form-box select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--line-clr);
}
.form-box select:focus {
    outline: 0;
}
.heading-bx{
    display: inline-block;
    vertical-align: middle;
    padding: 11px 16px;
    line-height: 17px;
    font-size: 20px;
    color: #17191c;
    border-bottom: 1px dotted var(--line-clr);
    width: 100%;
}
my-date-picker.dpk-lk{
    position: unset;
    width: 50%;
}
.up-box-heading{
    font-size: 15px;
    line-height:26px;
    Color:rgba(0, 0, 0, 0.87);
    font-weight: 400;
    margin: 0px 2rem;
    margin-bottom: 1rem;
}
.up-inner-content-box img {
    width: 75px;
    margin: 2rem 0;
}
.up-inner-content-box > h3 {
    font-size: 23px !important;
    font-weight: 300;
    margin: 24px 0;
}
.up-inner-content-box > em{
    margin: 2em 0;
    font-size: 20px;
    display: block;
}
.border-dot{
    min-height: 150px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    margin: 0 1.5rem;
}
.sub-btn {
    padding: 7px 23px;
    border: 0;
    text-transform: capitalize;
    margin-right: 10px;
}
.mb-3 {
    padding-bottom: 1rem;
}
.sub-btn:focus {
    outline: 0;
}
.upload-fil {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
input.upload-fil:focus {
    outline: 0;
}
.table td, .table th {
	padding: 10px 8px;
    vertical-align: middle;
    border-top: 0px !important;
}
.table thead th {
    vertical-align: bottom;
	border-bottom: 0;
	font-size: 14px;
    font-weight: 600;
}
.record-box tbody tr td {
    font-size: 13px;
	font-weight: 500 !important;
}
/* End All Sect- Section */


/* Upload Css */

.iput-w-img > img {
	width: 20px;
    height: 20px;
	bottom: 2px;
    left: 0;
}
input.up-load-txt {
	width: calc(100% - 40px);
	border-bottom: 1px solid #cccccc !important;
}
input.up-load-txt:focus{
	outline: 0;
}
input.up-load-file {
	width: 100%;
}

/* Upload End Css */




/* img upload Css */

.inputfile-box {
	position: relative;
  }
  
  .inputfile {
	display: none;
  }
  
  .file-box {
	  display: inline-block;
	  width: 100%;
	  border-bottom: 1px solid #cccccc;
	  padding: 5px 0px 5px 5px;
	  box-sizing: border-box;
	  height: calc(2rem - 2px);
  }
  
  .file-button {
	padding: 3px;
	position: absolute;
	top: 0px;
	right: 0px;
  }
  .file-lab {
	  display: inline-block;
	  margin-bottom: .5rem;
	  width: 100%;
  }
  .file-up-img{
	  width: 20px;
	  height:20px;
  }


/* img upload Css End */

/* Modal Css */

.dc-act h3 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
}
.dc-act {
    margin-left: 1rem;
}
.fill-back{
    background: #f44336;
    color: #fff;
}
.fill-back-ac{
    background: #50af50;
    color: #fff;
}
.deactivatedd {
    background: #d01507!important
}
.activatedd {
    background: #4caf50!important
}
.errros{
    color: red;
}
.inner-model-box {
    width: 100%;
    padding: 15px;
}
.inner-model-box span {
    font-size: 1rem;
    font-weight: 500;
}
.mod-btn {
    border-radius: 4px;
    margin-top: 2rem;
    width: 48%;
    height: 50px;
}
.mod-btn:first-child {
    margin-right: 1rem;
}
img.altr {
    width: 100px;
}
.file-up-img.pos-tp {
    position: relative;
    top: 24px;
}
/* Modal Css End */

@media screen and (max-width:767px){
	.srch-option li:last-child{
		display: none !important;
	}
	.form-section {
		display: grid;
		grid-template-columns: 1fr !important;
		width: 100%;
		grid-gap: 1rem;
	}
	.col-md-3 {
		-ms-flex: 0 0 100% !important;
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
}
@media screen and (max-width:1096px){
	.info-card-box-in{
		display: block !important;
		text-align: center;
	}
	.inner-content-section {
		margin-left: 0px;
		margin-top: 10px;
	}
	.col-md-3 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

.error p{
    
	margin-top: 5px;
	color: red;
	font-size: 12px;

}
.ant-pagination {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
    
ul.ant-pagination li {
    margin: 0 10px;
    list-style: none !important;
    border: 1px solid #cccccc;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle !important;
    }
    .anticon-double-right {
        display: none;
    }
    .ant-pagination-item-container:hover .anticon-double-right {
        display: inline-block !important;
    }
    .anticon-double-left {
        display: none;
    }
    .ant-pagination-item-container:hover .anticon-double-left {
        display: inline-block !important;
    }
    .ant-pagination-item-container:hover span.ant-pagination-item-ellipsis {
        display: none;
    }
    li.ant-pagination-item.ant-pagination-item-active {
        color: #4dbd74;
        border: 1px solid #4dbd74;
    }

    .ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link{
        border:0px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background: transparent !important;
    }
    .ant-pagination-jump-next, .ant-pagination-jump-prev, .ant-pagination-next, .ant-pagination-prev {
        display: inline-block;
        min-width: unset !important;
    }
    .ant-pagination-item {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    span.ant-pagination-item-ellipsis {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    i.anticon.ant-pagination-item-link-icon.anticon-double-right {
        position: relative;
        top: -3px;
    }
    i.anticon.ant-pagination-item-link-icon.anticon-double-left {
        position: relative;
        top: -3px;
    }