<div class="container-fluid">
    <div class="row" >

        <div class="col-sm-12 col-md-12">
            <h2 class="box-heading-tp">Active Trip</h2>
            <div class="top-heading bg-white">
                <h2 class="heading-bx anim">{{heading}}</h2>
                <div class="record-box table-responsive">
                    <table class="table m-0">                               
                        <thead>
                            <tr>
                                <th *ngFor="let tableHeading of tableHeading">{{tableHeading}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="data && data.length > 0">
                                  <tr *ngFor="let subAdmin of data ; let i =  index">
                                        <td>{{i+1}}</td>  
                                        <td>{{subAdmin.name}}</td>
                                        <td>{{subAdmin.mobileNo}}</td>
                                        <td>{{subAdmin.email}}</td>
                                          
                                          <td>{{subAdmin.DateCreate | date}}</td>
                                          <td>{{subAdmin.postTitle}}</td>
                                          <td>
                                              <button type="button" class="acton-btn" (click)="policyDetail(subAdmin.postId, subAdmin.userTypeId)">
                                                  <img src="../../assets/images/view.svg" class="action-view">
                                              </button>
                                          </td>
                                      </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>
<template>
<div class="row" >
        <div class="col-sm-12 col-md-12 col-lg-12 margin-tp">
            <h2 class="box-heading-tp">{{heading}}</h2>
           
            <div class="record-box table-responsive">
                <table class="table">                               
                    <thead>
                        <tr>
                            <th *ngFor="let tableHeading of tableHeading">{{tableHeading}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="data && data.length > 0">
                              <tr *ngFor="let subAdmin of data ; let i =  index">
                                    <td>{{i+1}}</td>  
                                    <td>{{subAdmin.name}}</td>
                                    <td>{{subAdmin.mobileNo}}</td>
                                    <td>{{subAdmin.email}}</td>
                                      
                                      <td>{{subAdmin.DateCreate | date}}</td>
                                      <td>{{subAdmin.postTitle}}</td>
                                      <td>
                                          <button type="button" class="acton-btn" (click)="policyDetail(subAdmin.postId, subAdmin.userTypeId)">
                                              <img src="../../assets/images/view.svg" class="action-view">
                                          </button>
                                      </td>
                                  </tr>
                        </ng-container>
                       
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
</div>
