<!-- <app-trip-shared [tableHeading]="tableHeading" [heading]="heading"></app-trip-shared> -->
<div class="container-fluid">
    <div class="row" >

        <div class="col-sm-12 col-md-12">
            <h2 class="box-heading-tp">{{heading}}</h2>
            <div class="top-heading bg-white">
                <h2 class="heading-bx anim">{{heading}}</h2>
                <div class="record-box table-responsive">
                    <table class="table m-0">                               
                        <thead>
                            <tr>
                                <th *ngFor="let tableHeading of tableHeading">{{tableHeading}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="completeTripData && completeTripData.length > 0">
                                  <tr *ngFor="let activeTripData of completeTripData ; let i =  index">
                                        <td>{{i+1}}</td>  
                                        <td>{{activeTripData.tripId}}</td>
                                        <td>{{activeTripData.driverName}}</td>
                                        <td>{{activeTripData.userName}}</td>
                                        <td>{{activeTripData.tripFrom}}</td>
                                          <td>{{activeTripData.tripTo}}</td>
                                          <td>{{activeTripData.startTime}}</td>
                                          <td>{{activeTripData.endTime}}</td>
                                          <td>{{activeTripData.distance}}</td>
                                          <td>{{activeTripData.fare}}</td>
                                          <!-- <td>
                                              <button type="button" class="acton-btn" (click)="policyDetail(driver.postId, driver.userTypeId)">
                                                  <img src="../../assets/images/view.svg" class="action-view">
                                              </button>
                                          </td> -->
                                      </tr>
                            </ng-container>
                           
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>

    
</div>