.form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 1rem;
}
.anim{
    transition: 0.5s;
}
.box-heading-tp{
    font-size: 25px;
    font-weight: 400;
    color: #666;
    margin-bottom: 15px;
}
.top-heading:hover {
    box-shadow: 0 0 25px -5px #9e9c9e;
    transition: 0.5s;
}
.form-box {
    margin-bottom: 1rem;
}
.form-box > label {
    color: #AAAAAA !important;
    font-size: 13px !important;
    display: block;
}
.form-box > input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--line-clr);
    background-color: transparent;
}
.form-box > input:focus {
    outline: 0;
}
.form-box select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--line-clr);
}
.form-box select:focus {
    outline: 0;
}
.heading-bx{
    display: inline-block;
    vertical-align: middle;
    padding: 11px 16px;
    line-height: 17px;
    font-size: 20px;
    color: #17191c;
    border-bottom: 1px dotted var(--line-clr);
    width: 100%;
}
my-date-picker.dpk-lk{
    position: unset;
    width: 50%;
}
.up-box-heading{
    font-size: 15px;
    line-height:26px;
    Color:rgba(0, 0, 0, 0.87);
    font-weight: 400;
    margin: 0px 2rem;
    margin-bottom: 1rem;
}
.up-inner-content-box img {
    width: 75px;
    margin: 2rem 0;
}
.up-inner-content-box > h3 {
    font-size: 23px !important;
    font-weight: 300;
    margin: 24px 0;
}
.up-inner-content-box > em{
    margin: 2em 0;
    font-size: 20px;
    display: block;
}
.border-dot{
    min-height: 150px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    margin: 0 1.5rem;
}
.sub-btn {
    padding: 7px 23px;
    border: 0;
    text-transform: capitalize;
    margin-right: 10px;
}
.mb-3 {
    padding-bottom: 1rem;
}
.sub-btn:focus {
    outline: 0;
}
.upload-fil {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
input.upload-fil:focus {
    outline: 0;
}
.thumb ul li {
    margin-right: 10px;
}
.thumb li img {
    width: 56px;
    height: 56px;
}

.child-success {
    display: inline-block;
}
.child-success img {
    width: 57px;
}
.child-success h2 {
    font-size: 2rem;
    margin-bottom: 0;
    position: relative;
    top: 5px;
    left:1rem;
}
