<!-- <app-trip-shared [tableHeading]="tableHeading" [heading]="heading"></app-trip-shared> -->
<div class="container-fluid">
    <div class="row" >

        <div class="col-sm-12 col-md-12">
            <h2 class="box-heading-tp">{{heading}}</h2>
            <div class="top-heading bg-white">
                <h2 class="heading-bx anim">{{heading}}</h2>
                <div class="record-box table-responsive">
                    <table class="table m-0">                               
                        <thead>
                            <tr>
                                <th *ngFor="let tableHeading of tableHeading">{{tableHeading}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="cancelTripData && cancelTripData.length > 0">
                                  <tr *ngFor="let activeTripData of cancelTripData ; let i =  index">
                                        <td>{{i+1}}</td>  
                                        <!-- <td>{{activeTripData.tripId}}</td> -->
                                        <td>{{activeTripData.driverName}}</td>
                                        <td>{{activeTripData.userName}}</td>
                                        <td>{{activeTripData.tripFrom}}</td>
                                          <td>{{activeTripData.tripTo}}</td>
                                          <td>{{activeTripData.startTime}}</td>
                                          <!-- <td>{{getStatus(activeTripData.status)}}</td> -->
                                          <!-- <td>
                                              <button type="button" class="acton-btn" (click)="policyDetail(driver.postId, driver.userTypeId)">
                                                  <img src="../../assets/images/view.svg" class="action-view">
                                              </button>
                                          </td> -->
                                      </tr>
                            </ng-container>
                           
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>

    <template>
<div class="row" >
        <div class="col-sm-12 col-md-12 col-lg-12 margin-tp">
            <h2 class="box-heading-tp">{{heading}}</h2>
            <div class="record-box neu-shadow table-responsive bg-white-fff border-round">
                 <!-- <div class="upper-wrap"> 
                </div> -->
                <table class="table">                               
                    <thead>
                        <tr>
                            <th *ngFor="let tableHeading of tableHeading">{{tableHeading}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="driverData && driverData.length > 0">
                              <tr *ngFor="let driver of driverData ; let i =  index">
                                    <td>{{i+1}}</td>  
                                    <td>{{driver.name}}</td>
                                    <td>{{driver.mobileNo}}</td>
                                    <td>{{driver.email}}</td>
                                    <td>{{driver.currentLocation}}</td>
                                      <td>{{driver.dateCreate | date}}</td>
                                      <td>{{driver.postTitle}}</td>
                                      <td>{{getStatus(driver.status)}}</td>
                                      <!-- <td class="txt-color-r text-uppercase"> -->
                                              <!-- <button *ngIf="postStatus[i] == 0" type="button" class="btn ab-btn dc-bg-color-panding border-round-rem">Pending</button> -->
                                              <!-- <button *ngIf="postStatus[i] == 1" type="button" class="btn ab-btn dc-bg-color-active border-round-rem">Approved</button> -->
                                              <!-- <button *ngIf="postStatus[i] == 2" type="button" class="btn ab-btn dc-bg-color-inactive border-round-rem">Rejected</button> -->
                                      <!-- </td> -->
                                      <td>
                                          <button type="button" class="acton-btn" (click)="policyDetail(driver.postId, driver.userTypeId)">
                                              <img src="../../assets/images/view.svg" class="action-view">
                                          </button>
                                      </td>
                                  </tr>
                        </ng-container>
                       
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
</div>