<div class="container-fluid">
    <form [formGroup]="vehicleForm">

        <div class="row">
            <div class="col-sm-12 col-md-12">
                    
                    <div class="left-new-add d-flex justify-content-between align-items-center">
                            <h2 class="box-heading-tp">Add Fare</h2>
                            <button class="add-new lab-success" routerLink="/fare/fareList">Go Back</button>
                        </div>
                    
                    
               
                <div class="top-heading bg-white">
                    <h2 class="heading-bx">Add Fare</h2>
                    <div class="form-sectionn  p-4">
                        <div class="inner-f-section">
                            
                            <div class="form-box">
                                <div class="form-box">
                                    <label>Ambulance Type</label>
                                    <select formControlName="ambType">
                                        <option *ngFor="let type of ambType" [value]="type.id">{{type.ambulanceType}}</option>
                                    </select>
                                    <!-- <input type="text" formControlName="regNumber"> -->
                                </div>
                            </div>
                            <div class="form-box">
                                <label>Fare per KM</label>
                                <input type="text" formControlName="farePerKM">
                            </div>
                            <div class="form-box">
                                <label>Minimum Fare</label>
                                <input type="text" formControlName="minFare">
                            </div>
                            
                        </div>
                        <div class="inner-f-section">
                            <div class="form-box">
                                <label>Minimum Distance</label>
                                <input type="text" formControlName="minDistance">
                            </div>
                            <div class="form-box">
                                <label>Waiting fare</label>
                                <input type="text" formControlName="waitFare">
                            </div>
                            <!-- <div class="form-box">
                                <div class="inputfile-box">
                                    <input type="file" id="file" class="inputfile" onchange='uploadFile(this)'>
                                    <label for="file" class="file-lab ">
                                      <span id="file-name" class="file-box"></span>
                                      <span class="file-button">
                                       <img src="../../../assets/images/upload.svg" class="file-up-img">
                                      </span>
                                    </label>
                                  </div>
                            </div> -->
                        </div>
                        <div class="btnn-group text-center mt-3 mb-3">
                                <button (click)="submitData()" type="button" class="sub-btn gp-btn-clr text-white">submit</button>
                                <button (click)="resetForm()" type="button" class="sub-btn gp-btn-clr2 text-white">cancel</button>
                            </div>
                        <!-- <div class="inner-f-section"> -->
                           
                            
                            <!-- <div class="form-box">
                                <label>Category</label>
                                <input type="text" formControlName="category">
                            </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <my-date-picker class="dpk-lk" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required formControlName="registrationDate"></my-date-picker>
            </div>
        </div> -->
    </form>
</div>