<div>
    <form [formGroup]="vehicleForm">
        <div class="row">
            <div class="col">
                <label>Registration Number</label>
                <input type="text" formControlName="regNumber">
            </div>
            <div class="col">
                <label>Category</label>
                <input type="text" formControlName="category">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Type</label>
                <input type="text" formControlName="regNumber">
            </div>
            <div class="col">
                <label>Modal</label>
                <input type="text" formControlName="category">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Fuel Type</label>
                <select formControlName="fuelType">
                    <option value="cng">CNG</option>
                    <option value="petrol">Petrol</option>
                    <option value="diesel">Diesel</option>
                </select>
                <!-- <input type="text" formControlName="regNumber"> -->
            </div>
            <div class="col">
                <label>Category</label>
                <input type="text" formControlName="category">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Registration Number</label>
                <input type="text" formControlName="regNumber">
            </div>
            <div class="col">
                <label>Category</label>
                <input type="text" formControlName="category">
            </div>
        </div>
    </form>
</div>