<div class="container-fluid">

<div class="row" >
        <div class="col-sm-12 col-md-12 col-lg-12 margin-tp">
           
            <div class="top-heading bg-white">
                <h2 class="heading-bx anim">Past Ride Booking</h2>  
            <div class="record-box table-responsive">
                <table class="table m-0">                               
                    <thead>
                        <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Total Distance</th>
                                <th>pick up</th>
                                <th>dropOff</th>
                                <th>Ride Date</th>
                                <th>Driver Name</th>
                                <th>Driver Mobile</th>
                                <th>Fare</th>
                                <th>Action</th>    
                        </tr>
                    </thead>
                    <tbody>
                            <ng-container *ngIf="pastRideData && pastRideData.length > 0">
                                    <tr *ngFor="let driver of pastRideData ; let i =  index">
                                        <td>{{i+1}}</td>  
                                        <td>{{driver.userName}}</td>
                                        <td>{{driver.userMobile}}</td>
                                        <td>{{driver.totalDistance}}</td>
                                        <td>{{driver.pickup}}</td>
                                        <td>{{driver.dropOff}}</td>
                                        <td>{{driver.rideDate | date}}</td>
                                        <td>{{driver.driverName}}</td>
                                        <td>{{driver.driverMobile}}</td>
                                        <td>{{driver.finalAmount}}</td>
                                        
                                        
                                            
                                        

                                       
                                       
                                        
                                    </tr>
                                </ng-container>
                       
                    </tbody>
                </table>
                
            </div>
            </div>
        </div>
</div>
</div>