<div class="container-fluid">

        <div class="row" >
    
            <div class="col-sm-12 col-md-12">
    
                    
                    <ng-container *ngIf="!loader">
                        <div class="left-new-add d-flex justify-content-between align-items-center">
                            <h2 class="box-heading-tp">All Admin List</h2>
                            <button class="add-new lab-success" routerLink="/admin/addAdmin">Add new Admin</button>
                        </div>
                            <div class="top-heading bg-white">   
                                    <h2 class="heading-bx anim">Admin List</h2>
                                <div class="record-box table-responsive">
                                    <table class="table m-0">                               
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Mobile</th>
                                                <th>Email</th>
                                                <th>Password</th>
                                                <th>Hospital</th>
                                                <th>Gender</th>
                                                <th>Status</th>
                                                <th>View</th>
                                                
                                                <th>Action</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <ng-container *ngIf="!loader">
                                                <ng-container *ngIf="hospitalList && hospitalList.length > 0">
                                                    <tr *ngFor="let driver of hospitalList ; let i =  index">
                                                        <td>{{i+1}}</td>  
                                                        <td>{{driver.name}}</td>
                                                        <td>{{driver.mobileNo}}</td>
                                                        <td>{{driver.email}}</td>
                                                        <td>{{driver.password}}</td>
                                                        <td>{{driver.hospitalName}}</td>
                                                        <td>{{getGender(driver.gender)}}</td>
                                                        <td>
                                                            <span (click)="verifiedDriver(driver.Id,driver.status)" *ngIf="driver.status == 0 " class="stus lab-success verify-button">Active</span>
                                                            <span  (click)="verifiedDriver(driver.Id,driver.status)" *ngIf="driver.status == 1" class="stus lab-danger verify-button">InActive</span>
                                                        </td>
                                                        <td>
                                                            <div class="btn-edit-group">
                                                                <button type="button" class="edit-btn" (click)="editAdmin(driver.Id, 'view')" >  <img src="../../../assets/images/eye.svg"></button>
                                                            </div>
                                                        </td>
                                                        
                                                        <td>
                                                            <div class="btn-edit-group">
                                                                <button type="button" class="edit-btn" (click)="editAdmin(driver.Id, 'edit')" >  <img src="../../../assets/images/edit-im.svg"></button>
                                                                <button type="button" class="delet-btn" (click)="deleteDriver(driver.Id)">  <img src="../../../assets/images/bin.svg"></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                                           
                                           
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </ng-container>
    
                
            </div>
        
        </div>
    
       
    </div>
    <ng-container *ngIf="loader">
        <div class="container-loader text-center" >
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
    
    
    <div class="modal fade" id="verifiyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <template>
                <div class="modal-header border-remo">
                <button type="button" class="close cl-img" data-dismiss="modal" aria-label="Close" (click)="closeMOdal()">
                    <!-- <span aria-hidden="true">&times;</span> -->
                    <img src="../../../assets/images/close-im.svg">
                </button>
                </div>
            </template>
            <div class="modal-body" *ngIf="!activatedds">
                <div class="inner-model-box same-margin" *ngIf="stattus == 0" >
                    <div class="d-flex al-item">
                        <img src="../../../assets/images/caution.svg" class="altr">
                        <div class="dc-act">
                            <h3>Deactivate Account</h3>
                            <span >Are you sure you want to Deactivate ?</span>
                        </div>
                    </div>
                    <div class="grp-btn text-center">
                        <button  (click)="closeModal()" class="mod-btn dc-bg-color-gray">Cancel</button>
                        <button  (click)="VerifyDriver()" class="mod-btn fill-back">Deactivate</button>
                    </div>
                    </div>
                <div class="inner-model-box" *ngIf="stattus == 1">
                        <div class="d-flex al-item">
                                <img src="../../../assets/images/caution-ac.svg" class="altr">
                                <div class="dc-act">
                                    <h3>Activate Account</h3>
                                    <span >Are you sure you want to Activate ?</span>
                                </div>
                            </div>
    
                            <div class="grp-btn text-center">
                                    <button  (click)="closeModal()" class="mod-btn dc-bg-color-gray">Cancel</button>
                                    <button  (click)="VerifyDriver()" class="mod-btn fill-back-ac ">Activate</button>
                            </div>
                    </div>
                <!-- <h2>{{modalDescription}}</h2> -->
            </div>
            <div class="modal-body" *ngIf="activatedds">
                   
                    <div class="success-parent">
                    <div class="child-success"><img src="../../../assets/images/correct.svg"></div>
    
                        
                    <div *ngIf="stattus == 0" class="child-success"><h2> Deactivate Successfully</h2></div> 
                    <div *ngIf="stattus == 1" class="child-success"><h2> Activate Successfully</h2></div> 
                </div>
                </div>
            </div>
        </div>
        </div>