<div class="container-fluid">

<div class="row" *ngIf="!loader">
        <div class="col-sm-12 col-md-12 col-lg-12 margin-tp">
            <h2 class="box-heading-tp">All Ambulance</h2>
            <div class="top-heading bg-white">
                <h2 class="heading-bx anim">All Ambulance</h2>  
            <div class="record-box table-responsive">
                <table class="table m-0">                               
                    <thead>
                        <tr>
                                <th>No</th>
                                <th>Image</th>
                                <th>Fuel Type</th>
                                <th>Color</th>
                                <th>Category</th>
                                <th>Type</th>
                                <th>Register Number</th>
                                <th>Driver Name</th>
                                <!-- <th>Action</th> -->
                                
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="vehicleData && vehicleData.length > 0">
                              <tr *ngFor="let driver of vehicleData ; let i =  index">
                                    <td>{{i+1}}</td>  
                                    <td><img [src]="driver.ambulanceFilepath" class="al-img"></td>
                                    <td>{{driver.fueltype}}</td>
                                    <td>{{driver.color}}</td>
                                    <td>{{driver.category}}</td>
                                    <td>{{driver.ambulanceType}}</td>
                                    <td>{{driver.ambulanceNo}}</td>
                                    <td>{{driver.driverName}}</td>
                                    <!-- <td>
                                        <div class="btn-edit-group">
                                            <button type="button" class="edit-btn" (click)="editNews(news.id)" >  <img src="../../../assets/images/edit-im.svg"></button>
                                            <button type="button" class="delet-btn" (click)="deleteAmbulance(driver.id)">  <img src="../../../assets/images/bin.svg"></button>
                                        </div>
                                    </td> -->
                                  </tr>
                        </ng-container>
                       
                       
                    </tbody>
                </table>
                <div class="page-table pb-0 pt-3" *ngIf = "paginationDisplay" >
                    <nz-pagination [nzPageIndex]="1" [nzTotal]="totalRecords" (nzPageIndexChange)="pageChanged($event)" [nzPageSize]="pageSize"></nz-pagination>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>