html,body{
			margin: 0;
			padding: 0;
			list-style: none;
			box-sizing: border-box;
			font-family: 'Poppins' ;
		}
		.allrapper {
		    display: block;
		    height: 100vh;
		    width: 100%;
		}
		.wrapper {
		    width: 800px;
		    height: 450px;
		    display: grid;
		    grid-template-columns: 1fr 1fr;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    padding: 1.3rem;
		    box-shadow: -6px -6px 9px #f3f3f3, 6px 6px 8px #dedede;
		    border-radius: 25px;
		}

		.right-wrapper img {
		    width: 100%;
		    height: 100%;
		    object-fit: fill;
		    object-position: center;
		}
		.avatar {
		    width: 80px;
		    object-fit: cover;
		    object-position: center;
		    margin: 0 auto;
		    display: block;
		}

		form {
		    width: 100%;
		}
/* Checkbox*/
.check-info {
    padding: 10px 10px;
	margin-bottom: 7px;
	width: 100%;
	margin: 15px 0;
}
.forget > p {
	display: inline-block;
	margin-bottom: 0;
}
  .span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #f99d51;
  border-color: #f99d51;
}
.chiller_cb input:checked ~ span:before {
  width: 11px;
  height: 2px;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
}
.chiller_cb span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
  transform: rotate(-55deg);
  top: 12px;
  left: 0.37rem;
}
.chiller_cb span:after {
  transform: rotate(35deg);
  bottom: 0.35rem;
  left: 0.2rem;
}
.check-rap-box .check-info .chiller_cb label{
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #515151;
  font-weight: 400;
}
.nxt-btn button {
    background: #ffcb55;
    border: none;
    padding-left: 20px !important;
    padding: 5px 5px;
    border-radius: 22px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
}
.nxt-btn button:focus {
    outline: none;
}
.nxt-btn.text-right button img {
    width: 13px;
    margin-left: 2rem;
}
.nxt-btn {
    margin-top: 22px;
}
/* Check box End*/


/*		.img {
		    display: flex;
		    justify-content: flex-end;
		    align-items: center;
		}*/
		.left-wrapper{
			display: flex;
		    justify-content: flex-end;
		    align-items: center;
		    width: 100%;
		    height: 100%;
		    padding: 0 2rem;
		}
		form h2 {
			font-size: 1rem;
			text-transform: capitalize;
			margin: 20px 0;
			color: #5f5570;
			font-weight: 600;
			text-align: center;
		}
		.input-login-box{
			position: relative;
			display: grid;
			grid-template-columns: 12% 76% 12%;
			margin: 10px 0;
			padding: 5px 0;
			border-bottom: 1px solid #f5f5f5;
		}
		p.alert-msg {
			margin: 0;
			font-size: 0.8rem;
			color: #ec1802;
			font-weight: 500;
			margin-left: 20px;
		}
		.label-term {
			margin-left: 12px;
		}
		.input-section input::placeholder {
			font-size: 0.8rem !important;
			font-weight: 600;
		}
		.msg-sh {
			height: 20px;
		}
		/* .passw{
			grid-template-columns: 12% 76% 12%;
		} */
		.box-shaw-input {
			box-shadow: -6px -6px 9px #f3f3f3, 6px 6px 9px #dedede;
			border-radius: 25px;
			border: 0;
		}
		.input-login-box:after, .input-login-box:before{
			content: '';
			position: absolute;
			bottom: 0px;
			width: 0;
			height: 1px;
			background: #e6a759;
			transition: .3s;
		}

		.input-login-box:after{
			right: 50%;
		}

		.input-login-box:before{
			left: 50%;
		}
		
		.input-login-box.focus:after, .input-login-box.focus:before{
			width: 50%;
		}

		.input-login-box.one{
			margin-top: 0px;
		}
		
		.input-login-box.two{
			margin-bottom: 4px;
		}
		
		.input-login-box.focus .input-img svg{
			fill: #e6a759;
		}
		.input-login-box.focus .input-section h5{
			top: -5px;
			font-size: 0.6rem;
		}


		.input-section {
		    position: relative;
		    height: 35px;
		}
		
		.input-login-box.focus .input-section h5{
			color: #f5b75f;
		}
		.input-section h5 {
		        position: absolute;
			    top: 50%;
			    left: 10px;
			    transform: translateY(-50%);
			    color: #5f5570;
			    font-size: 0.8rem;
			    transition: .3s;
			    font-weight: 500;
			    text-transform: capitalize;
			    margin: 0;
		}


		.input-section .input{
				/* position: absolute;
			    top: 0;
			    left: 0; */
			    width: 100%;
			    height: 100%;
			    border: none;
			    outline: none;
			    background: none;
			    padding: 0.5rem 0.7rem;
			    font-size: 1rem;
			    color: #3f3d56;
			    font-weight: 500;
		}

		.forget{
			display: block;
		    text-align: right;
		    text-decoration: none;
		    font-size: 0.8rem;
		    transition: 0.3s;
		    color: #e6a759;
		    margin: 0rem 8px;
		    font-weight: 500;
		}
		.forget:hover{
			text-decoration: none;
			color: #3a3768;
		}

		.login-btn {
		    display: block;
		    width: 100%;
		    border-radius: 25px;
		    font-size: 0.9rem;
		    border: none;
		    outline: none;
		    text-transform: uppercase;
		    background-image: linear-gradient(to right, #e6a759,#f7ba60,#e6a759);
		    color: #fff;
		    font-family: 'Poppins';
		    background-size: 200%;
		    transition: .5s;
		    padding: 10px;
		    font-weight: 500;
		}

		.login-btn:hover{
			background-position: right; 
		}
		.input-img {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		}

		.input-img svg{
		    width: 15px;
		    height: 15px;
		    object-fit: cover;
		    object-position: center;
		    fill: #5f5570;
		    transition: .3s;
        }
        
        .pos-abs {
            width: 19px;
        }

		@media screen and (max-width: 714px){
			.wrapper {
			    width: 100%;
			    display: block;
			}

			.right-wrapper {
			    display: none;
			}
			.left-wrapper {
			    display: flex;
			    justify-content: flex-end;
			    align-items: center;
			    width: 100%;
			    height: 100%;
			}
			.avatar {
			    width: 110px;
			    object-fit: cover;
			    object-position: center;
			    margin: 0 auto;
			    display: block;
			}
		}

		@media screen and (max-width: 480px){
			.left-wrapper{
				padding: unset !important;
			}
		}


		.errorss{
			color: red;
			font-size: 14px;
			/* margin: 0 100px */
		}

	